.app{
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: sans-serif;
}
#link{
  font-size: 10vh;
  height: 50vh;
  width: 50vw;
  background-color: blue;
  color:yellow;
}